$app-font-serif: 'Libre Baskerville', serif;
$app-font-sans-serif: 'Source Sans Pro', sans-serif;
$primary-hex: #00a0ff;
$box-shadow: 0px 8px 17px rgba(0, 0, 0, .2);

$sidebar-width: 240px;
$sidebar-bgcolor: #2a4f69;